# Terraform / OpenTofu
.terraform
.terraform.lock.hcl
*terraform.tfstate*
*terraform.tfplan*

# Exception: repositories state (no secrets)
!components/repositories/**/terraform.tfstate

# IntelliJ IDEA
.idea
